*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #f6f8f9;
}

/* Testata con logo e h1 */
header{
    background-color: white;
    height: 100px;
    line-height: 100px; 
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 50px;
}

img{
    vertical-align: middle;
    margin-left: 25px;
}
/* Tasti di navigazione */
nav{
    background-color: white;
    width: 800px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 5px;
    padding: 10px 20px;
}

.add-task, .add-section{
    width: 100px;
    padding: 8px;
    border-radius: 5px;
}

.add-task{
    border-color: #47adf1;
    background-color: #47adf1;
    color: white;
}

.add-section{
    border-color: #c9cfd3;
    background-color: white;
    color: #c9cfd3;
}

/* parte centrale con elenco compiti */
main{
    background-color: white;
    width: 800px;
    margin: auto;
    padding: 30px 60px; 
}

.freccetta{
    font-size: 20px;
}

.titoli{
    margin-top: 10px;
    font-size: 25px;
}

.elenco-attivita{
    margin-top: 20px;
    padding-left:5px;
}


.visto{
    height: 50;
    width: 50;
    border: 2px solid #63c0a9;
    border-radius: 50%;
    margin-right: 5px;
    display: inline-block;
    color: #63c0a9;
    font-size: 10px;
    padding: 5px;
}

.croce{
    height: 50;
    width: 50;
    margin-right: 5px;
    display: inline-block;
    color: #ec6d67;
    border: 2px solid #ec6d67;
    border-radius: 50%;
    font-size: 10px;
    padding: 5px;
}

.attivita{
    font-size: 15px;
}

.badge1,.badge2, .badge3, .badge4, .badge5, .badge6, .badge7, .badge8{
    margin-left: 5px;
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 10px;  
}

.badge1{
    background-color: #45abea;
}

.badge2{
    background-color: #45abea;
}

.badge3{
    background-color: #9c72e4;
}

.badge4{
    background-color: #64c0a9;
}

.badge5{
    background-color: #f29e33;
}

.badge6{
    background-color: #d863a1;
}

.badge7{
    background-color: #b0c926;
}

.badge8{
    background-color: #45abea;
}